{% extends 'patients/base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-3xl mb-4" style="margin-top: 100px">{{ patient.name }} {{ patient.surname }}</h1>

    <div class="row gx-5">
        <div class="col-md-6">
            <dl class="row">
                <dt class="col-sm-4 fw-bold">Telefone:</dt>
                <dd class="col-sm-8">{{ patient.phone }}</dd>
                <dt class="col-sm-4 fw-bold">E-mail:</dt>
                <dd class="col-sm-8">{{ patient.email }}</dd>
                <dt class="col-sm-4 fw-bold">Data de Nascimento:</dt>
                <dd class="col-sm-8">{{ patient.date_of_birth }}</dd>
                <dt class="col-sm-4 fw-bold">Idade:</dt>
                <dd class="col-sm-8">{{ patient.age }}</dd>
                <dt class="col-sm-4 fw-bold">Peso:</dt>
                <dd class="col-sm-8">{{ patient.weight }} kg</dd>
                <dt class="col-sm-4 fw-bold">Altura:</dt>
                <dd class="col-sm-8">{{ patient.height }} cm</dd>

            </dl>
        </div>
        <div class="col-md-6">
            <dl class="row">
                <dt class="col-sm-4 fw-bold">Endereço:</dt>
                <dd class="col-sm-8">{{ patient.address }}</dd>
                <dt class="col-sm-4 fw-bold">Cidade:</dt>
                <dd class="col-sm-8">{{ patient.city }}</dd>
                <dt class="col-sm-4 fw-bold">CEP:</dt>
                <dd class="col-sm-8">{{ patient.cep }}</dd>
                <dt class="col-sm-4 fw-bold">Estado:</dt>
                <dd class="col-sm-8">{{ patient.state }}</dd>
                <dt class="col-sm-4 fw-bold">País:</dt>
                <dd class="col-sm-8">{{ patient.country }}</dd>
            </dl>
        </div>
    </div>
    <div class="mt-4 d-flex justify-content-between">
        <a href="{% url 'patient_edit' patient.pk %}" class="btn btn-primary">Edit</a>
        <form method="post" action="{% url 'patient_delete' patient.pk %}">
            {% csrf_token %}
            <input type="submit" value="Delete" class="btn btn-danger">
        </form>
    </div>
</div>
{% endblock %}